.status-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status-select {
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: white;
  font-size: 0.9rem;
}

.status-loading, .status-error {
  font-size: 0.8rem;
}
.status-error {
  color: red;
}
